
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Intrebari frecvente</h1>
<div>
    <p style="color:green;font-size: larger;"><strong>Ce este caut-salon.com?</strong></p>
    <p>Folosindu-se de ultimele tehnologii web, caut-salon.com iti ofera intr-o maniera user-friendly posibilitatea sa te programezi la saloanele de infrumusetare si stilistii favoriti. Astfel, vei putea verifica programul salonului tau favorit din confortul casei tale, de la birou sau din metrou, de pe orice dispozitiv mobil cu Internet. Programarile efectuate sunt trimise in timp real catre salonul ales iar tu vei primi imediat confirmarea programarii.</p>
</div>
<br />

<div>
    <p style="color:green;font-size: larger;"><strong>Cum functioneaza sistemul de programari?</strong></p>
    <p>caut-salon.com este singura platforma care este integrata in sistemul de programari al saloanelor partenere. Asta inseamna ca fiecare programare pe care tu o efectuezi online va ajunge direct la salonul ales. La fiecare programare efectuata vei primi un email cu datele salonului la care trebuie sa ajungi si o confirmare a orei stabilite.</p>
</div>

<div>Cu caut-salon.com, nu mai trebuie sa suni la salon, totul se intampla din calculatorul sau telefonul tau mobil.</div>


<div>
    <p style="color:green;font-size: larger;"><strong>Ce se intampla cand imi creez cont pe caut-salon.com?</strong></p>
    <p>
        Pentru a putea face o programare pe caut-salon.com trebuie sa iti creezi un cont. Acest lucru implica agrearea Termenilor si Conditiilor utilizarii caut-salon.com si validarea numarului de telefon prin care vei comunica cu salonul preferat. Aceasta validare presupune completarea unui cod pe care il vei primi prin SMS in timpul procesului de creare cont. Odata autentificat, te vei putea programa la orice salon sau stilist partener al caut-salon.com.
        In contul tau vei putea modifica datele personale si vizualiza saloanele pentru o programare mai rapida.
        caut-salon.com va respecta confidentialitatea tuturor datelor cu caracter personal utilizate in cadrul caut-salon.com.
    </p>
</div>


<div>
    <p style="color:green;font-size: larger;"><strong>Ce fac cu contul creat?</strong></p>
    <p>Cu contul caut-salon.com te poti autentifica atat pe site-ul www.caut-salon.com. In contul tau ai acces la istoricul programarilor, saloanele favorite, mesajele primite de la saloane sau comentariile adaugate. Vei putea oricand sa anulezi sau sa reprogramezi o programare.</p>

</div>
<div>
    <p style="color:green;font-size: larger;"><strong>Va trebui sa platesc pentru a face o programare pe caut-salon.com?</strong></p>
    <p>Nu, niciodata. Sistemul de programare nu include nici un cost din partea ta. Plata serviciilor pentru care te-ai programat o vei face la salon.</p>
</div>
<div>
    <p style="color:green;font-size: larger;"><strong>Ce se intampla daca vreau sa anulez o programare?</strong></p>
    <p>Pentru anularea unei programari vei putea intra in contul tau de unde ai optiunea sa anulezi orice programare activa. Anularea unei programari este complet gratuita si nu necesita motivarea deciziei tale.</p>
</div>

<div>
   <p style="color:green;font-size: larger;"><strong> Ma pot programa la salon si de pe telefonul mobil? </strong></p>
   <p>Desigur, site-ul poate fi accesat si de pe mobil. Gaseste salonul tau preferat, alege serviciile, ora convenabila si stilistul favorit. Pentru a ajunge mai usor la salon pentru programari viitoare, iti sugeram sa il marchezi ca favorit.</p>
</div>