@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Te-ai deconectat cu success. Pentru o mai buna securitate, iti recomandam sa inchizi acest tab. Multumim!</p>
</header>