
@{
    ViewData["Title"] = "Despre noi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Despre noi</h1>

<div>
    <p style="color:green;font-size: larger;"> <strong>Despre platforma online www.caut-salon.com</strong></p>
    <p>
        www.caut-salon.com a aparut ca raspuns la dorinta cat mai mare a utilizatorilor de servicii de infrumusetare de a se programa la salonul preferat intr-o maniera cat mai simpla.
    </p>
    <p>
        Platforma iti ofera posibilitatea sa cauti cele mai bune saloane din jurul adresei tale si sa rezervi ora la care doresti sa te programezi. Imediat dupa selectarea orei vei primi o confirmare a programarii pentru a fi sigura ca stilistul favorit va putea sa te serveasca. Mai mult decat atat, daca ti-a placut serviciul prestat de un anumit stilist, vei putea vedea programul lui saptamanal pentru a alege ziua cand vei dori sa-i faci o vizita.
    </p>
    <p>
        Cu platforma caut-salon.com uiti de intrebarile de genul "Alexandra este la manichiura Joi?" sau "Particip la un eveniment in seara de 18, ma puteti programa pana in ora 16?" . Iti poti planifica totul cu mult inainte de eveniment pentru a fi sigura ca vei fi cea mai frumoasa in seara respectiva. Platforma este GRATUITA si presupune doar validarea numarului tau de telefon la crearea unui cont. Validarea numarului de telefon se va face prin introducerea unui cod pe care il vei primi prin SMS la numarul tau mobil.
    </p>
    <p>
        Speram ca vei gasi aceasta platforma utila si te invitam sa ne trimiti parerea ta pe adresa office@caut-salon.com
    </p>
</div>