@page
@model cautsalonapp.Areas.Aisalon.Pages.Create.IndexModel
@{
    ViewData["Title"] = "Ai un salon?";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <div style="font-size:large"><b>Foloseste contul tau pentru a te autentifica.</b></div>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                 
                </div>
                <div class="form-group">
                   
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
               
            </form>
        </section>
    </div>
</div>

