
@{
    ViewData["Title"] = "Cauta salon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cauta salon</h1>

<div>
    <p style="color:green;font-size: larger;"> <strong>Momentan nu exista niciun salon inscris in aplicatie. Ne pare rau!</strong></p>
        
</div>