@page
@model cautsalonapp.Areas.Cautasalon.Pages.Cauta.SuccessModel
@{
}
<div class="row">
    <div class="col-md-6 offset-3">
        <section style="background:#e2f6ff !important; border-radius:7px;">
            
            <h4>Programarea a fost inregistrata cu success. Vei primi un mail cu detaliile in cel mai scurt timp.</h4>
            <div class="text-center">
                <i class="fa fa-6x fa-check" style="color:green;"></i>
            </div>
        </section>
    </div>
</div>
