@{
    ViewData["Title"] = "Pagina principala";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1>
    <div class="row">
        <div class="col-md-6 offset-3">
            <i class="fa fa-10x fa-user-clock" style="color:green !important;"></i>
            <p>Economiseste timp cautand un salon online. </p>
            <p>65% dintre programari se fac in afara orelor de program ale saloanelor.</p>
        </div>
        <hr />
        <br />
        <hr />
        <div class="col-md-6 offset-3">
            <i class="fa fa-10x fa-user-check" style="color:lightseagreen !important;"></i>
            <p>Fie ca ai un salon sau esti client iti poti inregistra un cont la noi cu usurinta.</p>

        </div>
    </div>
    
</div>
